<!DOCTYPE html>
<html>
<<<<<<< HEAD
<head>
  <title>MysneaksWonu</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
=======

  <head>
     <title><%= title %></title>
     <%= csrf_meta_tag %>
     <%= render 'layouts/stylesheets' %>
  </head>
  <body>
    <div class="container">
        <%= render 'layouts/header' %>
      <section class="round">
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
    </div>
  </body>
>>>>>>> bedcec912c9fea96e0d1a45164b4bf4d264b8372
</html>
